body{
    text-align: center;
    background-color: #15151a;
    background-image: linear-gradient(160deg, #2c18dd 0%,  #1a1818 100%);
    font-size: 40px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(206, 21, 21);
    font-size: 90px;
 
}
 
label{
    color: white;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center
 
}
 
button{
    font-size: 17px;
}
 
.bt {
    border:1px solid #070707;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 12px;
    font-size: 18px;
    padding:6px,;
    text-decoration:none;
    } 
